<!DOCTYPE html>
<html>
  <%- include('./head.ejs') %>
  <body>

    <div>
      <form method="GET" action="/">
        <input type="submit" value="Back to main menu" />
      </form>
      <form method="POST" action="/auth/logout">
        <input type="submit" value="Logout" />
      </form>
    </div>