<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>

    <%
    var error = error ? error : ''
    %>

    <h3>Login to the self-monitoring application</h3>
    <form method="POST" action="/auth/login">
      <label for="email">Email</label>
      <input type="email" name="email" />
      <br>
      <label for="password">Password</label>
      <input type="password" name="password" />
      <br>
      <% if (error.length > 0) { %>
        <p><%= error %></p>
      <% } %>
      <input type="submit" value="Login" />
    </form>

    <h3>Don't have an account? Register here!</h3>
    <form method="GET" action="/auth/registration">
      <input type="submit" value="Register" />
    </form>

  </body>
</html>