<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>

    <h2>Registration successful</h2>

    <h4>Go to login</h4>
    <form method="GET" action="/auth/login">
      <input type="submit" value="Login" />
    </form>

  </body>
</html>